#splash_screen{
    /*source: https://www.youtube.com/watch?v=MOlaldp1Fv4*/
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/splash_screen_background.png');
    z-index: 1001;
    color: rgb(55, 105, 112);
    opacity: 1;
    justify-content: space-around;
}

#center_box {
    display: flex;
    margin-top: 140px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: #2C4762;
    background-color:rgb(222, 234, 236, 0.8);
  
    border-radius: 12px;
}

#welcome{
    font-family: 'Concert One';
    font-size: 90px;
}

#authors{
    font-family: sans-serif;
    font-size: 18px;
}

#play_area{
    height: 700px;
    width: 100%;
    position: absolute;
}
.settings_panel {
    z-index: 200;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: left;
    font-size: 20px;
    border: 3px solid #2C4762;
    border-radius: 5px;
    background-color: lightgray;
    padding: 30px;
}
.settings_panel img {
    width: 180px;
    height: 180px;
}

#paused_sign {
    width: 700px;
    height: 150px;
    z-index: 200;
    line-height: 1.1em;
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 25px;
    text-align: center;
    font-size: 100px;
    background-color: rgb(222, 234, 236);
    border-radius: 10px;
    border: 4px solid darkgray;
    font-family: 'Press Start 2P', cursive;
}

#final_score {
    width: 700px;
    height: 150px;
    z-index: 201;
    line-height: 1.1em;
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(222, 234, 236);
    border-radius: 10px;
    border: 4px solid darkgray;
    font-family: 'Press Start 2P', cursive;
}

.menu_button {
    width : 80px;
    height: 80px;
    margin: 10px;
    padding: 0px;
}

.menu_button img {
    width : 80px;
    height: 80px;
    object-fit: contain;
}

#begin_game_div {
    text-align: center;
}

#begin_game {
    padding: 12px;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}


#easy {
    background-color: green;
    border-width: 2px;
    border-color: green;
    padding: 12px;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

#medium {
    background-color: yellow;
    border-width: 2px;
    border-color: yellow;
    padding: 12px;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

#hard {
    background-color: red;
    border-width: 2px;
    border-color: red;
    padding: 12px;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

.uploads {
    display: flex;
}

#menu_screen {
    padding: 20px;
    width: 350px;
}

#session_info {
    display: flex;
    align-items: right;
}

#countdown_timer {
    
}

#score {
    
}

#session_info{

}

.holes {
    position: relative;
    top: 250px;
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 3.5em;
    justify-items: center;
}

.hole {
    position: relative;
    height: 60px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}

.good_mole {
    position: absolute;
    z-index: 1;
    height: 180px;
    bottom: -70;
    left: 50%;
    transform: translateX(-50%);
    animation: appear_good 0.8s linear;
    /* pointer-events: none; */
}

.bad_mole {
    position: absolute;
    z-index: 1;
    height: 180px;
    bottom: -70;
    left: 50%;
    transform: translateX(-50%);
    animation: appear_bad 0.8s linear;
    /* pointer-events: none; */
}

@keyframes appear_good {
    from {
        bottom: -250;
    }
    to {
        bottom: -70;
    }
}

@keyframes appear_bad {
    from {
        bottom: -240;
    }
    to {
        bottom: -60;
    }
}

#shovel {
    position: fixed;
    z-index: 100;
    width: 128px;
    height: 120px;
    pointer-events: none;
}

body {
    background-image: url('../images/game_background.png');
    height: 100%;
}

.pointsClass {
    font-size: 30px;
    color: chartreuse;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-top: 20px;
    z-index: 500;
}

.flying_points {
    position: fixed;
}

#flying_mole_div {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
}   

.flying_mole {
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;
    animation: fly_across 5s linear;
    width: 200px;
    height: 120px;
}

@keyframes fly_across {
    0% {
        top: 40;
        left: -400;
    }
    33% {
        left: 400;
        top: 500;
    }
    66% {
        left: 800;
        top: 50;
    }
    100% {
        left: 1800;
        top: 350;
    }
}

.countdown_timer {
    position: relative;
    left: 550px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

.score {
    position: relative;
    left: 600px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}