#splash_screen{
    /*source: https://www.youtube.com/watch?v=MOlaldp1Fv4*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/splash_screen_background.png');
    z-index: 1001;
    color: rgb(55, 105, 112);
    opacity: 1;
}

#center_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: #2C4762;
    background-color:rgb(222, 234, 236, 0.7);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
}

#welcome{

}

#title{
   
}
#authors{
    font-size: 18px;
}

.play_area{
    position: absolute;
}
.settings_panel {
    z-index: 200;
    display: none;
    position: fixed;
    left: 100px;
    top: 100px;
    align-items: center;
    text-align: left;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #2C4762;
    background-color: lightgray;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 5px;
}

.menu_button {
    width : 80px;
    height: 80px;
    margin: 10px;
    padding: 0px;
}

.menu_button img {
    width : 80px;
    height: 80px;
    object-fit: contain;
}

#easy {
    background-color: green;
    border-width: 2px;
    border-color: green;
    padding: 8px;
    color: black;
    border-radius: 5px;
}

#medium {
    background-color: yellow;
    border-width: 2px;
    border-color: yellow;
    padding: 8px;
    color: black;
    border-radius: 5px;
}

#hard {
    background-color: red;
    border-width: 2px;
    border-color: red;
    padding: 8px;
    color: black;
    border-radius: 5px;

}

#menu_screen {
    padding: 20px;
    width: 350px;
}

#session_info {
    display: flex;
    align-items: right;
}

#countdown_timer {
    
}

#score {
    
}

#session_info{

}

.holes {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 1em;
    justify-items: center;
}

.hole {
    position: relative;
    height: 60px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}

.good_mole {
    position: absolute;
    z-index: 1;
    height: 180px;
    bottom: -70;
    left: 50%;
    transform: translateX(-50%);
    animation: appear_good 0.8s linear;
    pointer-events: none;
}

.bad_mole {
    position: absolute;
    z-index: 1;
    height: 180px;
    bottom: -70;
    left: 50%;
    transform: translateX(-50%);
    animation: appear_bad 0.8s linear;
    pointer-events: none;
}

@keyframes appear_good {
    from {
        bottom: -250;
    }
    to {
        bottom: -70;
    }
}

@keyframes appear_bad {
    from {
        bottom: -240;
    }
    to {
        bottom: -60;
    }
}

#shovel {
    position: fixed;
    z-index: 100;
    width: 128px;
    height: 120px;
    pointer-events: none;
}

body {
    background-image: url('../images/game_background.png');
    height: 100%;
}